<link rel="stylesheet" type="text/css" href="http://audibene.de/typo3conf/ext/content_rating/res/style.stars.css?1447238249" media="all"> 
<div class="tx-contentrating-pi1">
	<script type="text/javascript">var tx_content_rating_pid=1;var tx_content_rating_url="/";</script><div itemscope itemtype="http://schema.org/Product">
	<span itemprop="name">Bewerten Sie diese Seite</span><div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
	<div class="tx-content-rating-rate-wrapper">
		<div class="tx-content-rating-rate-full">&nbsp;</div>
		<div class="tx-content-rating-rate-value" style="width:{percentage}%;">&nbsp;</div>
		<div class="tx-content-rating-mouse-wrapper">
			<div class="tx-content-rating-mouse-sep" data-rate="5" style="width:100%;">&nbsp;</div>
			<div class="tx-content-rating-mouse-sep" data-rate="4" style="width:80%;">&nbsp;</div>
			<div class="tx-content-rating-mouse-sep" data-rate="3" style="width:60%;">&nbsp;</div>
			<div class="tx-content-rating-mouse-sep" data-rate="2" style="width:40%;">&nbsp;</div>
			<div class="tx-content-rating-mouse-sep" data-rate="1" style="width:20%;">&nbsp;</div>
		</div>
	</div><div class="tx-content-rating-mouse-hint">Bewerten</div><div class="tx-content-rating-line-wrapper">
	<div class="tx-content-rating-line-sep-big" style="left:0%;">&nbsp;</div>
	<div class="tx-content-rating-line-sep-small" style="left:20%;">&nbsp;</div>
	<div class="tx-content-rating-line-sep-small" style="left:40%;">&nbsp;</div>
	<div class="tx-content-rating-line-sep-small" style="left:60%;">&nbsp;</div>
	<div class="tx-content-rating-line-sep-small" style="left:80%;">&nbsp;</div>
	<div class="tx-content-rating-line-sep-big" style="left:100%;margin-left:-1px;">&nbsp;</div>
</div><div class="tx-content-rating-text-wrapper">
<div class="tx-content-rating-text-left"><span class="tx-content-rating-countspan" itemprop="ratingCount">{count}</span> Bewertungen</div>
<div class="tx-content-rating-text-right"><span class="tx-content-rating-percspan">{percentage}</span> %</div>
<div class="tx-content-rating-clear" itemprop="worstRating">1</div>
<div class="tx-content-rating-clear" itemprop="bestRating">5</div>
<div class="tx-content-rating-clear" itemprop="ratingValue">{average}</div>
<div class="tx-content-rating-clear">&nbsp;</div>
</div>
</div>

